@use "../abstracts/media-queries" as *;
@use "../base/root" as *;

.pokemon-card {
	--padding-card: 2rem 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--clr-grass-400); // placeholder

	position: relative;
	min-height: 100dvh;

	@include smallMq {
		color: white; // placeholder, media query for 500px og opp
	}

	&__top-half {
		padding: var(--padding-card); // lokal custom prop for padding
	}

	&__name {
		text-transform: capitalize;
	}

	&__types {
		max-width: 11rem;
	}

	&__type {
		width: 5rem;
		border: 1px solid white;
		border-radius: 100vw;
		padding: 0.5em;
		line-height: 1;
		text-align: center;
		text-transform: capitalize;
	}

	&__image {
		position: absolute; // absolute position til bilde overlap
		max-width: 20rem;
	}

	&__lower-half {
		padding: var(--padding-card);
		border-radius: 2rem 2rem 0 0;
		background-color: white;
	}

	&__tab-nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	&__tab-button {
		border: 0;
		font-weight: 500;
		color: black;
		background-color: transparent;
		cursor: pointer;
	}

	&__tab-content {
		color: black;
	}
}
