@use "../abstracts/media-queries" as *;
@use "../base/root" as *;

.pokemon-card {
	--padding-card: 3rem 2rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	min-height: 100dvh;

	@include smallMq {
		color: white; // placeholder, media query for 500px og opp
	}

	&__nav {
		margin-bottom: 1rem;
	}

	&__link {
		color: white;
		font-size: 2rem;
		text-decoration: none;
		line-height: 1;
	}

	&__top-half {
		padding: var(--padding-card); // lokal custom prop for padding
	}

	&__name {
		font-size: 1.875rem;
		text-transform: capitalize;
	}

	&__id {
		font-size: 1.25rem;
		font-weight: 500;
	}

	&__types {
		margin-top: 0.5rem;
		max-width: 11rem;
	}

	&__type {
		width: 5rem;
		border-radius: 100vw;
		padding: 0.35em;
		font-weight: 500;
		background-color: hsla(0, 100%, 100%, 0.25);
		line-height: 1;
		text-align: center;
		text-transform: capitalize;
	}

	&__image {
		position: absolute; // absolute position til bilde overlap
		inset: 0;
		margin: 12rem auto 0 auto;
		max-width: clamp(18rem, 5vw, 20rem);
	}

	&__lower-half {
		padding: var(--padding-card);
		border-radius: 2rem 2rem 0 0;
		background-color: white;
	}

	&__tab-nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	&__tab-button {
		border: 0;
		font-weight: 500;
		color: black;
		background-color: transparent;
		cursor: pointer;
	}

	&__tab-content {
		color: black;
	}

	&__stats-list {
		margin-top: 1rem;
	}

	&__list-item {
		display: flex;
		justify-content: space-between;
		margin-top: 0.5rem;
		max-width: 10rem;
		font-weight: 500;
		text-transform: capitalize;
	}
}
