@use "../base/root" as *;

.grass-type {
	background-color: var(--clr-grass-400);
}

.fire-type {
	background-color: var(--clr-fire-500);
}

.water-type {
	background-color: var(--clr-water-400);
}

.electric-type {
	background-color: var(--clr-electric-400);
}

.normal-type {
	background-color: var(--clr-normal-400);
}

.ground-type {
	background-color: var(--clr-ground-400);
}

.rock-type {
	background-color: var(--clr-rock-400);
}

.ice-type {
	background-color: var(--clr-ice-400);
}

.psychic-type {
	background-color: var(--clr-psychic-400);
}

.flying-type {
	background-color: var(--clr-flying-400);
}

.dark-type {
	background-color: var(--clr-dark-400);
}

.bug-type {
	background-color: var(--clr-bug-400);
}

.fairy-type {
	background-color: var(--clr-fairy-400);
}

.steel-type {
	background-color: var(--clr-steel-400);
}

.dragon-type {
	background-color: var(--clr-dragon-400);
}

.ghost-type {
	background-color: var(--clr-ghost-400);
}

.poison-type {
	background-color: var(--clr-poison-400);
}

.fighting-type {
	background-color: var(--clr-fighting-400);
}
