@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* POKEMON TYPING COLORS 400 IS DEFAULT TYPE COLOR */
  /* Grass */
  --clr-grass-200: #73d7c4;
  --clr-grass-300: #67cdb9;
  --clr-grass-400: #58c4ab;
  --clr-grass-500: #4aaf98;
  --clr-grass-600: #3e997f;
  --clr-grass-700: #337f6a;
  --clr-grass-800: #286656;
  /* Fire */
  --clr-fire-200: #f0a078;
  --clr-fire-300: #f28d64;
  --clr-fire-400: #f17850;
  --clr-fire-500: #d76b45;
  --clr-fire-600: #b55f3b;
  --clr-fire-700: #944f32;
  --clr-fire-800: #744028;
  /* Water */
  --clr-water-200: #7aa7ed;
  --clr-water-300: #6e9ce9;
  --clr-water-400: #618fdf;
  --clr-water-500: #577ccd;
  --clr-water-600: #4c6ab3;
  --clr-water-700: #425998;
  --clr-water-800: #38477d;
  /* Electric */
  --clr-electric-200: #f7e07e;
  --clr-electric-300: #f6d868;
  --clr-electric-400: #f6cc4c;
  --clr-electric-500: #d6b745;
  --clr-electric-600: #b5a03d;
  --clr-electric-700: #927935;
  --clr-electric-800: #70512c;
  /* Normal */
  --clr-normal-200: #c4c7b8;
  --clr-normal-300: #b3b7a4;
  --clr-normal-400: #a2a890;
  --clr-normal-500: #8d957e;
  --clr-normal-600: #787f6c;
  --clr-normal-700: #636959;
  --clr-normal-800: #4e5247;
  /* Ice */
  --clr-ice-200: #a3d9e2;
  --clr-ice-300: #94cbd6;
  --clr-ice-400: #85bfc8;
  --clr-ice-500: #72a9b1;
  --clr-ice-600: #5f8e96;
  --clr-ice-700: #4c717a;
  --clr-ice-800: #39555e;
  /* Fighting */
  --clr-fighting-200: #db726e;
  --clr-fighting-300: #d55c58;
  --clr-fighting-400: #c8443e;
  --clr-fighting-500: #ab3b35;
  --clr-fighting-600: #8d332d;
  --clr-fighting-700: #6e2b24;
  --clr-fighting-800: #50231b;
  /* Poison */
  --clr-poison-200: #b76fb3;
  --clr-poison-300: #a85ca6;
  --clr-poison-400: #9b4b9b;
  --clr-poison-500: #823f85;
  --clr-poison-600: #69336e;
  --clr-poison-700: #522857;
  --clr-poison-800: #3b1e41;
  /* Ground */
  --clr-ground-200: #e2d3a3;
  --clr-ground-300: #d6c38c;
  --clr-ground-400: #d2b874;
  --clr-ground-500: #b8a064;
  --clr-ground-600: #978453;
  --clr-ground-700: #766942;
  --clr-ground-800: #554f31;
  /* Flying */
  --clr-flying-200: #adabf7;
  --clr-flying-300: #9c9df4;
  --clr-flying-400: #8d8df1;
  --clr-flying-500: #7877ce;
  --clr-flying-600: #6262a6;
  --clr-flying-700: #4c4d7f;
  --clr-flying-800: #363758;
  /* Psychic */
  --clr-psychic-200: #f79fb3;
  --clr-psychic-300: #f88ca3;
  --clr-psychic-400: #f5738f;
  --clr-psychic-500: #d5687d;
  --clr-psychic-600: #b45b6b;
  --clr-psychic-700: #934d58;
  --clr-psychic-800: #723f46;
  /* Bug */
  --clr-bug-200: #b9d38d;
  --clr-bug-300: #adc474;
  --clr-bug-400: #9eb55c;
  --clr-bug-500: #889d4f;
  --clr-bug-600: #718440;
  --clr-bug-700: #5a6b32;
  --clr-bug-800: #445124;
  /* Rock */
  --clr-rock-200: #cec68d;
  --clr-rock-300: #c4ba76;
  --clr-rock-400: #baad5f;
  --clr-rock-500: #9e9350;
  --clr-rock-600: #807942;
  --clr-rock-700: #635f34;
  --clr-rock-800: #464526;
  /* Ghost */
  --clr-ghost-200: #8f7aad;
  --clr-ghost-300: #8370a3;
  --clr-ghost-400: #785799;
  --clr-ghost-500: #654983;
  --clr-ghost-600: #523c6b;
  --clr-ghost-700: #402e53;
  --clr-ghost-800: #2e213c;
  /* Dragon */
  --clr-dragon-200: #7d76ff;
  --clr-dragon-300: #7167f9;
  --clr-dragon-400: #6355f9;
  --clr-dragon-500: #5749d9;
  --clr-dragon-600: #493cb4;
  --clr-dragon-700: #3b2f8e;
  --clr-dragon-800: #2d2269;
  /* Dark */
  --clr-dark-200: #877568;
  --clr-dark-300: #7c6a5e;
  --clr-dark-400: #705f53;
  --clr-dark-500: #5e5045;
  --clr-dark-600: #4d4038;
  --clr-dark-700: #3b302a;
  --clr-dark-800: #2a211d;
  /* Steel */
  --clr-steel-200: #c8c9da;
  --clr-steel-300: #b7b8cb;
  --clr-steel-400: #9d9fc5;
  --clr-steel-500: #8789ac;
  --clr-steel-600: #6f7191;
  --clr-steel-700: #585976;
  --clr-steel-800: #41415b;
  /* Fairy */
  --clr-fairy-200: #dba3bb;
  --clr-fairy-300: #d792ae;
  --clr-fairy-400: #cd869d;
  --clr-fairy-500: #b07686;
  --clr-fairy-600: #93656f;
  --clr-fairy-700: #745258;
  --clr-fairy-800: #553f41;
  --ff-global: system-ui, sans-serif;
  font-family: var(--ff-global);
  color-scheme: dark light;
}

.homepage {
  display: grid;
  place-content: center;
  min-height: 100dvh;
}
.homepage__wrapper {
  border: 1px solid green;
}
.homepage__pkmn-logo {
  width: 24rem;
  height: 24rem;
}
.homepage__links-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}
.homepage__links-list li {
  display: grid;
  place-content: center;
  padding: 1rem;
}
.homepage__links-list li a {
  text-decoration: none; /* 3 level nesting ikke så bra, men slipper class */
}

.pokedex {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.pokedex__nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.pokedex__link {
  font-size: 3rem;
  text-decoration: none;
  line-height: 1;
}

.pokemon {
  max-height: 600px;
  overflow-x: hidden;
}
.pokemon__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.pokemon__list-item {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.75rem;
}
.pokemon__link {
  color: white;
  text-decoration: none;
}
.pokemon__name {
  font-size: clamp(1.125rem, 3vw, 1.875rem);
  text-transform: capitalize;
}
.pokemon__type {
  width: 4rem;
  border: 1px solid white;
  border-radius: 100vw;
  padding: 0.5em;
  font-size: clamp(0.875rem, 3vw, 1rem);
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
}
.pokemon__image {
  max-width: 6rem;
}

.pokemon-card {
  --padding-card: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-grass-400);
  position: relative;
  min-height: 100dvh;
}
@media (min-width: 500px) {
  .pokemon-card {
    color: white;
  }
}
.pokemon-card__top-half {
  padding: var(--padding-card);
}
.pokemon-card__name {
  text-transform: capitalize;
}
.pokemon-card__types {
  max-width: 11rem;
}
.pokemon-card__type {
  width: 5rem;
  border: 1px solid white;
  border-radius: 100vw;
  padding: 0.5em;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}
.pokemon-card__image {
  position: absolute;
  max-width: 20rem;
}
.pokemon-card__lower-half {
  padding: var(--padding-card);
  border-radius: 2rem 2rem 0 0;
  background-color: white;
}
.pokemon-card__tab-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.pokemon-card__tab-button {
  border: 0;
  font-weight: 500;
  color: black;
  background-color: transparent;
  cursor: pointer;
}
.pokemon-card__tab-content {
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
